<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Esercizio ApuliaSoft</title>
        
        
    </head>
    <body>
        <h1>HOME</h1>
        <header>
            <nav>
                <ul>
                    <li>Pagina 1</li>
                    <li>Pagina 2</li>
                    <li>Pagina 3</li>
                    <li>Pagina 4</li>
                    <li>Pagina 5</li>
                </ul>
            </nav>
        </header>

 @RenderBody()
    </body>
    <footer>Colloquio ApuliaSoft</footer>
</html>


