
@using System.Collections.Generic
@using Esercizio1.Models.ViewModels
@model List<Esercizio1ViewModel>
<h1>GROUP BY PROJECT - EMPLOYEE</h1>
@{
    Layout="_Layout"; //indico il layout condiviso tra le view per non replicare codice

}

<table border="1">
  <tr >
      <td>Employee</td>
    <td>Project</td>

    
    <td>Hours</td>
  </tr>
  
  


@if(Model!=null){
@foreach(Esercizio1ViewModel tupla in Model)
{


<tr>
       <td>@tupla.Employee</td>
    <td>@tupla.Project</td>
  
    <td>@tupla.Hours</td>
  </tr>
 
}
}
  </table>

