
@using System.Collections.Generic
@using Esercizio1.Models.ViewModels
@model List<Esercizio1ViewModel>
@{
    Layout="_Layout"; //indico il layout condiviso tra le view per non replicare codice

}

<p>sono la view dell'action index dell'esercizio1 controller</p>


